h1
{
    text-transform: uppercase;
    color: blue;
    text-align: center;
}
h2
{
    text-transform: uppercase;
    color: blue;
    text-align: center;
}

.flex-container
{
    display: flex;
    flex-direction: row;
}

.flex-container1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-item1
{
    background-color: orange;
    width: 100px;
    margin: 10px;
    border-radius: 5px;

}

.flex-item2
{
    background-color: white;
    flex-grow: 1;
    margin: 10px;
    text-align: left;
    line-height: 45px;
    font-size: 15px;
    font-weight: bold;
}

.flex-item3
{
    background-color: white;
    flex-grow: 12;
    margin: 10px;
    text-align: right;
    font-style: italic;
    font-size: 15px;
    line-height: 45px;
}

.flex-item4
{
    background-color: brown;
    width: 100px;
    margin: 10px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
}

.flex-item5
{
    background-color: white;
    flex-grow: 10;
    text-align: left;
    line-height: 50px;
    font-size: 15px;
    font-weight: bold;
}

.flex-item6
{
    background-color: aquamarine;
    width: 150px;
    flex-grow: 2;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    line-height: 50px;
}

.flex-item7
{
    background-color:royalblue;
    width: 150px;
    flex-grow: 2;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    line-height: 50px;
}

.flex-item8
{
    flex-grow: 1;
    margin: 20px;
    width: 50px;
    height: 200px;
    padding-left: 70px;
    padding-right: 70px;
}

.flex-item9
{
    flex-grow: 1;
    margin: 20px;
    width: 50px;
    height: 220px;
    padding-left: 180px;
    padding-right: 180px;
}

.flex-item10
{
    flex-grow: 1;
    margin: 20px;
    width: 50px;
    height: 150px;
    padding-left: 70px;
    padding-right: 70px;
}

.flex-item11
{
    width: 40px;
    flex-grow: 1;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    
}

.flex-item12
{
    background-color: white;
    flex-grow: 1;
    text-align: justify;
    padding-left: 90px;
    padding-right: 90px;
}

.flex-item13
{
    background-color: white;
    flex-grow: 2;
    text-align: justify;
    padding-left: 80px;
    padding-right: 30px;
}
.flex-item14
{
    background-color:rgb(187, 107, 107);
    width: 100px;
    margin: 10px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
}
.flex-item15
{
    background-color:rosybrown;
    width: 100px;
    margin: 10px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
}
.flex-item16
{
    background-color: orange;
    width: 100px;
    margin: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.grid-container
{
    display: grid;
    grid-template-columns: 500px auto;
    justify-content: start;
}

.grid-item1
{
    background-color: white;
    margin: 10px;
    font-size: 20px;
}

.grid-item2
{
    background-color: #6a424241;
    margin: 10px;
    border-radius: 10px;
    font-size: 25px;
    padding: 10px;
}

.grid-item3
{
    background-color: white;
    margin: 10px;
    font-size: 25px;
    padding: 10px;
}