<style>
    a:hover {
        background-color: rgb(42, 165, 124);
    }
    .grid-container {
                display: grid;
                justify-content: left;
                grid-template-columns: 150px 150px 150px;
                gap: 10px;
                padding: 10px;
            }
            .grid-container > div {
                background-color: rgb(230, 173, 190);
                text-align: center;
                padding: 20px 0;
                font-size: 30px;
    }
    .grid-container2 {
        display: grid;
                justify-content: left;
                grid-template-columns: 100px 300px;
                gap: 10px;
                padding: 10px;
            }
     .grid-container2 > div {
                text-align: center;
                padding: 10px 0;
                font-size: 30px;
                background-color: blueviolet;
    }
    .grid-container3 {
        display: grid;
        grid-template-areas: 
        'left1 right0'
        'left2 right0'
        'left3 right0'
        'left4 right0';
    }
    .item1 {grid-area: left1;}
    .item2 {grid-area: left2;}
    .item3 {grid-area: left3;}
    .item4 {grid-area: left4;}
    .item5 {grid-area: right0;align-content: space-around;border-radius: 20px;}
    .grid-container4 {
        display: grid;
        grid-template-areas: 
        'left6 right1'
        'left7 right1'
        'left8 right1';
    }
    .item6 {grid-area: left6;}
    .item7 {grid-area: left7;}
    .item8 {grid-area: left8;}
    .item9 {grid-area: right1;align-content: space-around;}
    .flex-container {
        display: flex;
        flex-direction: row;
    }
    .flex-container > div {
        width: 200px;
    }
    .flex-container1 {
        display: flex;
        flex-direction: row-reverse;}
        .flex-container > div {
        background-color: aqua;
        text-align: center;
        line-height: 40px;
        font-size: 20px;}
    .flex-container2 {
        display: flex;
        flex-direction: row-reverse;
    }
    .flex-container2 > div {
        width: 100px;
    }
            .grid-container1 {
                grid-column: 2 /span 3;
            }
            .grid-container1 > div {
                background-color: lightblue;
                text-align: left;
                padding: 20px 0;
                font-size: 30px;
            }
     .grid-container4 {
                display: grid;
                justify-content: center;
                grid-template-columns: 200px 200px 200px;
                background-color: lightgreen;
                padding: 10px;}
    .flex-container3 {
        display: flex;
        flex-direction: row-reverse;
    }
    .flex-container3 > div {
        background-color: aqua;
        width: 80px;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
    }
    .flex-container4 {
        display: flex;
        flex-direction: row;
    }
    .flex-container4 > div {
        width: 80px;
        margin: 10px;
        text-align: left;
        line-height: 75px;
        font-size: 20px;
    }
    .grid-container5 {
        display: grid;
        width: 150px;
        height:150px;
        margin: 10px;
        padding: 10px; 
        background-color: rgb(230, 173, 190);
    }
    .grid-container5 > div {
        height: 140px;
        width: 140px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin: auto;
      }
      .flex-container5 {
        display: flex;
       grid-template-rows: 200px,200px,200px; 
       margin: 10px;
       padding: 10px; 
      }
</style>