* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro Text", sans-serif;

}
.content1_ul {
    
    height: 50px;
    display: flex;
    position: relative;
}

.content1_li {
    margin: 0 20px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
}

.ul_content2 {
    display: flex; 

}
.li_content2 a {
    text-decoration: none;
    color: #fff;
}
.li_content2 {

    list-style: none;
    text-transform: uppercase;
    width: 150px;
    height: 50px;
    border-style: outset;
    margin: 25px 20px;
    text-align: center;
    line-height: 50px;
    background-color: red;
    border-radius: 8px;
}
/*header*/
.h3_caption{
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0;
    color: blue;
}
.ul_caption{
        display: flex;
        list-style: none;
}
.li_caption>img{
    width: 200px;
    height: 200px;
}
.li_caption>h4{
    text-transform: uppercase;
    margin: 20px 0;
}
.li_caption{
    width: 200px;
    height: 300px;
    margin: 0 150px;
}
.li_caption span{
    color: red;
}
caption{
    margin-bottom: 200px;
}
/* footer */
.content_footer{
    margin: 0 200px;
    display: flex;
    position: relative;
}
.footer2{
    position: absolute;
    right: 0;
    display: flex;

    
}
.footer2_content{
    /* margin: 0 10px; */
    width: 100px;
    height: 50px;
    border: 1px solid #000;
    text-align: center;
}