/* header */
.container{
    width: 500px;
    height: 40px;
    background-color: white;
    display: flex;
    margin: 5px;
    justify-content: space-between;
}
.item1{
    width: 165px;
    height: 38px;
    border-radius: 5px;
    font-size: larger;
    color: white;
    font-weight: bold;
    text-align: center;
}
.item2{
    width: 330px;
    height: 38px;
    flex: 1;
    padding-left: 10px;
    padding-top: 12px;
    font-size: x-larger;
    color: black;
    font-weight: bold;
    padding-left: 100px;
}
.color1{
    background-color: orange;
}
.color2{
    background-color: orangered;
}
.color3{
    background-color: rgb(236, 166, 75);
}
.color4{
    background-color: rgb(255, 180, 194);
}
.wellcome{
    position: absolute;
    top: 0;
    right: 0;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: normal;
    margin: 20px;
}
h1{
    text-align: center;
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300%;
}
li{
    font-size: x-large;
}
p{
    font-size: x-large;
    text-align: center;
}
/* Page Content */
.mid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: repeat(3, 15px 200px);
}
.header{
    grid-column: 1 / 4   ;
}
.grid-item1{
    grid-column: 2 / 4;
    margin-left: 200px;
}
.grid-item2{
    grid-column: 1 / 3;
}
.grid-color{
    background-color: rgb(143, 119, 119);
    border-radius: 10px;
    font-size: x-large;
    text-align: center;
    align-items: center;
}

/* Thông tin Liên hệ */
.foot{
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: 50px ;
    display: grid;
    margin-top: 300px;

}
.address{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}
.zalo{
    background-color: rgb(60, 57, 228);
    font-weight: bold;
    font-size: x-large;
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.facebook{
    background-color: rgb(17, 240, 165);
    font-size: x-large;
    font-weight: bold;
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
}