
.a {
    color: brown;font-size: xx-large;
  }
  .b {
    color: green;font-size: xx-large;
  }
  .c {
    color: blue;font-size: xx-large;
  }
  h1,h2,h6 {
    color:blueviolet;font-size: xx-large;
  }
  .input{
    color: red;font-size: xx-large;
  }
  h7:hover{color: blueviolet;}
  button:hover{background-color: green;}
  