
h2
{
    text-transform: uppercase;
    color: blue;
    text-align: center;
}

.flex-container
{
    display: flex;
    flex-direction: row;
}

.flex-item1
{
    background-color: orange;
    width: 100px;
    margin: 10px;
    border-radius: 5px;

}

.flex-item2
{
    background-color: white;
    flex-grow: 1;
    margin: 10px;
    text-align: left;
    line-height: 45px;
    font-size: 20px;
    font-weight: bold;
}

.flex-item3
{
    background-color: white;
    flex-grow: 12;
    margin: 10px;
    text-align: right;
    font-style: italic;
    font-size: 15px;
    line-height: 45px;
}

.flex-item4
{
    background-color: brown;
    width: 100px;
    margin: 10px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
}

.flex-item5
{
    background-color: white;
    flex-grow: 10;
    text-align: left;
    line-height: 50px;
    font-size: 15px;
    font-weight: bold;
}

.flex-item6
{
    background-color: aquamarine;
    width: 150px;
    flex-grow: 2;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    line-height: 50px;
}

.flex-item7
{
    background-color:royalblue;
    width: 150px;
    flex-grow: 2;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    line-height: 50px;
}

.grid-container
{
    display: grid;
    grid-template-columns: 500px auto;
    justify-content: start;
}

.grid-item1
{
    background-color: white;
    margin: 10px;
    font-size: 20px;
}

.grid-item2
{
    background-color: #6a424241;
    margin: 10px;
    border-radius: 10px;
    font-size: 25px;
    padding: 10px;
}

.grid-item3
{
    background-color: white;
    margin: 10px;
    font-size: 25px;
    padding: 10px;
}