* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color {
    width: 60px;
    height: 25px;
    background-color: #e67e22;
    border-radius: 7px;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-1 {
    display: flex;
    align-items: center;
}

.box-1 h2 {
    padding-left: 20px;
    font-size: 14px;
}

.box-btn {
    margin-top: 12px;
}

.box-btn button {
    padding: 8px 24px;
    border-radius: 6px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
}